* {
  margin: 0;
  padding: 0;
}
.card {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(rgb(214, 214, 214), rgb(203, 104, 233));
  display: flex;
  flex-direction: column;
  align-items: center;
}

 

.submit_btn {
  height: 32px;
  width: 70px;
  border-radius: 20px;
  background-color: rgb(42, 182, 42);
  border: 1px solid rgb(80, 194, 80);
  color: azure;
  cursor: pointer;
}
.submit_btn:focus {
  background-color: rgb(41, 38, 41);
  border: 1px solid rgb(53, 53, 59);
}

.todo_card{
  height: 60px;
  width: 400px;
  border-radius: 20px;
  display: flex;align-items: center;
  background-color: rgb(34, 137, 197);
  margin: 10px;
}
.todo_text {
  flex: 1;
  margin-left: 10px;
  color: aliceblue;
}
.ul {
  list-style-type: none;
}

.glowing-border {
  border: 2px solid gray;
}

.glowing-border:focus {
  outline: none;
  border-color: #008006;
  box-shadow: 0 0 20px #3eda3e;
}

.inputbox {
  height: 30px;
  width: 300px;
  border-radius: 20px;
  margin: 10px;
  padding-left: 15px;
}

.edit_btn {
  height: 30px;
  width: 50px;
  border-radius: 20px;
  background-color: rgba(255, 252, 81, 0.925);
  border: 1px rgba(255, 252, 81, 0.925);
  margin-right: 10px;
  cursor: pointer;
  
}
.edit_btn :focus{
  background-color: rgba(250, 246, 18, 0.925);
  border: 1px rgb(253, 114, 0) solid;
}
.delete_btn {
  height: 30px;
  width: 60px;
  border-radius: 20px;
  background-color: rgb(250, 43, 43);
  border: 1px rgb(250, 43, 43);
  margin-right: 10px;
  cursor: pointer;
  color: aliceblue;
}
